<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developerdepository.meetin"
    android:versionCode="1"
    android:versionName="1.0"
    tools:ignore="GradleOverrides">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon, android:allowBackup"
        tools:targetApi="q">
        <activity
            android:name=".Activities.OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.IncomingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SetUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OnBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>